In [1]:
import pandas as pd 

#from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
#analyser = SentimentIntensityAnalyzer()
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [10]:
import os

In [12]:
print(os.getcwd())

/sfs/qumulo/qhome/ss9ud/Documents/Data_Viz

In [14]:
df = pd.read_csv('2020-03-00 Coronavirus Tweets (pre 2020-03-12).csv')

/apps/software/standard/compiler/gcc/7.1.0/jupyter_conda/2019.10-py3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (9,10,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
df_test = pd.read_csv('2020-03-00 Coronavirus Tweets (pre 2020-03-12).csv')

In [17]:
df_test.head()

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,retweet_count,country_code,place_full_name,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang
0,1235160526780416001,1163436067904618496,2020-03-04T11:09:52Z,Nanank08000089,#CoronaVirusIndonesia \n#CoronaBukaBorokRezim ...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,21.0,142.0,NaN,2019-08-19T13:02:45Z,False,und
1,1235160526780416001,1163436067904618496,2020-03-04T11:09:52Z,Nanank08000089,#CoronaVirusIndonesia \n#CoronaBukaBorokRezim ...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,21.0,142.0,NaN,2019-08-19T13:02:45Z,False,und
2,1235160546451873797,2255210942,2020-03-04T11:09:57Z,David_Mulroney,China’s wildlife trade via @SCMPgraphics http...,Twitter for iPad,NaN,NaN,NaN,False,...,2.0,NaN,NaN,NaN,5666.0,2796.0,NaN,2013-12-20T16:14:18Z,False,en
3,1235160597475602432,366491737,2020-03-04T11:10:09Z,MarykeSchoonen,Proof that the media such as @CNN is unnecessa...,Twitter for iPhone,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,41.0,94.0,NaN,2011-09-02T08:22:14Z,False,en
4,1235160647614291968,61557732,2020-03-04T11:10:21Z,Arjit_Garg,Indians are a shitty breed of humans. With the...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,IN,"Greater Noida, India",city,486.0,50.0,NaN,2009-07-30T18:18:25Z,False,en

In [18]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390263 entries, 0 to 390262
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   status_id             390263 non-null  int64
 1   user_id               390263 non-null  int64
 2   created_at            390262 non-null  object
 3   screen_name           390262 non-null  object
 4   text                  390262 non-null  object
 5   source                390262 non-null  object
 6   reply_to_status_id    59693 non-null   float64
 7   reply_to_user_id      69326 non-null   float64
 8   reply_to_screen_name  69326 non-null   object
 9   is_quote              390262 non-null  object
 10  is_retweet            390262 non-null  object
 11  favourites_count      390262 non-null  float64
 12  retweet_count         390262 non-null  float64
 13  country_code          17200 non-null   object
 14  place_full_name       17234 non-null   object
 15  place_type            17234 non-null   object
 16  followers_count       390262 non-null  float64
 17  friends_count         390262 non-null  float64
 18  account_lang          0 non-null       float64
 19  account_created_at    390262 non-null  object
 20  verified              390262 non-null  object
 21  lang                  390262 non-null  object
dtypes: float64(7), int64(2), object(13)
memory usage: 65.5+ MB

In [19]:
df.head()

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,retweet_count,country_code,place_full_name,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang
0,1235160526780416001,1163436067904618496,2020-03-04T11:09:52Z,Nanank08000089,#CoronaVirusIndonesia \n#CoronaBukaBorokRezim ...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,21.0,142.0,NaN,2019-08-19T13:02:45Z,False,und
1,1235160526780416001,1163436067904618496,2020-03-04T11:09:52Z,Nanank08000089,#CoronaVirusIndonesia \n#CoronaBukaBorokRezim ...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,21.0,142.0,NaN,2019-08-19T13:02:45Z,False,und
2,1235160546451873797,2255210942,2020-03-04T11:09:57Z,David_Mulroney,China’s wildlife trade via @SCMPgraphics http...,Twitter for iPad,NaN,NaN,NaN,False,...,2.0,NaN,NaN,NaN,5666.0,2796.0,NaN,2013-12-20T16:14:18Z,False,en
3,1235160597475602432,366491737,2020-03-04T11:10:09Z,MarykeSchoonen,Proof that the media such as @CNN is unnecessa...,Twitter for iPhone,NaN,NaN,NaN,False,...,0.0,NaN,NaN,NaN,41.0,94.0,NaN,2011-09-02T08:22:14Z,False,en
4,1235160647614291968,61557732,2020-03-04T11:10:21Z,Arjit_Garg,Indians are a shitty breed of humans. With the...,Twitter for Android,NaN,NaN,NaN,False,...,0.0,IN,"Greater Noida, India",city,486.0,50.0,NaN,2009-07-30T18:18:25Z,False,en

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390263 entries, 0 to 390262
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   status_id             390263 non-null  int64
 1   user_id               390263 non-null  int64
 2   created_at            390262 non-null  object
 3   screen_name           390262 non-null  object
 4   text                  390262 non-null  object
 5   source                390262 non-null  object
 6   reply_to_status_id    59693 non-null   float64
 7   reply_to_user_id      69326 non-null   float64
 8   reply_to_screen_name  69326 non-null   object
 9   is_quote              390262 non-null  object
 10  is_retweet            390262 non-null  object
 11  favourites_count      390262 non-null  float64
 12  retweet_count         390262 non-null  float64
 13  country_code          17200 non-null   object
 14  place_full_name       17234 non-null   object
 15  place_type            17234 non-null   object
 16  followers_count       390262 non-null  float64
 17  friends_count         390262 non-null  float64
 18  account_lang          0 non-null       float64
 19  account_created_at    390262 non-null  object
 20  verified              390262 non-null  object
 21  lang                  390262 non-null  object
dtypes: float64(7), int64(2), object(13)
memory usage: 65.5+ MB

In [21]:
df['text'] = df['text'].astype(str)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390263 entries, 0 to 390262
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   status_id             390263 non-null  int64
 1   user_id               390263 non-null  int64
 2   created_at            390262 non-null  object
 3   screen_name           390262 non-null  object
 4   text                  390263 non-null  object
 5   source                390262 non-null  object
 6   reply_to_status_id    59693 non-null   float64
 7   reply_to_user_id      69326 non-null   float64
 8   reply_to_screen_name  69326 non-null   object
 9   is_quote              390262 non-null  object
 10  is_retweet            390262 non-null  object
 11  favourites_count      390262 non-null  float64
 12  retweet_count         390262 non-null  float64
 13  country_code          17200 non-null   object
 14  place_full_name       17234 non-null   object
 15  place_type            17234 non-null   object
 16  followers_count       390262 non-null  float64
 17  friends_count         390262 non-null  float64
 18  account_lang          0 non-null       float64
 19  account_created_at    390262 non-null  object
 20  verified              390262 non-null  object
 21  lang                  390262 non-null  object
dtypes: float64(7), int64(2), object(13)
memory usage: 65.5+ MB

In [23]:
# use vader tool to get polarity scores on comments as a whole
#p = [SentimentIntensityAnalyzer.polarity_scores(i) for i in df['text']]
#df['polarity'] = p

In [24]:
# https://stackoverflow.com/questions/57803412/applying-sentimentintensityanalyzer-function-on-each-row-of-the-dataframe-prov
sid = SentimentIntensityAnalyzer()
def get_sentiment(remarks,**kwargs):
    sentiment_score = sid.polarity_scores(remarks)
    positive_meter = round((sentiment_score['pos'] * 10), 2)
    negative_meter = round((sentiment_score['neg'] * 10), 2)
    return positive_meter if kwargs['k'] == 'positive' else negative_meter

In [ ]:
df['positive'] = df.text.apply(get_sentiment, k='positive')
df['negative'] = df.text.apply(get_sentiment, k='negative')


#for index, row in df.iterrows(): 
   #print("Positive : {}, Negative : {}".format(row['positive'], row['negative']))
    
df.info()

In [ ]:
df.sample(5)

In [ ]:
df_final = df.loc[df['lang'] == 'en']

# filter based on language - only language

In [ ]:
df_final.sample(5)

In [ ]:
df_final = df_final.drop(['status_id'], axis=1)

In [ ]:
df_final = df_final.drop(['reply_to_status_id'], axis=1)
df_final = df_final.drop(['reply_to_user_id'], axis=1)
df_final = df_final.drop(['reply_to_screen_name'], axis=1)
df_final = df_final.drop(['place_full_name'], axis=1)
df_final = df_final.drop(['account_lang'], axis=1)
df_final = df_final.drop(['account_created_at'], axis=1)

In [ ]:
df_final = df_final.drop(['country_code'], axis=1)

In [ ]:
df_final = df_final.drop(['place_type'], axis=1)

In [ ]:
df_final.info()

In [ ]:
df_final.sample(5)

In [ ]:
#l = list(df['polarity'])
#df['neg'] = [i.get('neg') for i in l]
#df['neu'] = [i.get('neu') for i in l]
#df['pos'] = [i.get('pos') for i in l]
#df['compound'] = [i.get('compound') for i in l]

In [ ]:
df_final.to_csv('clean_output.csv')

In [ ]:

# Offline mode
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

In [ ]:
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [ ]:
import cufflinks as cf
cf.go_offline()

In [ ]:
#dataset2 = df_final[["favourites_count", "postive", "negative"]]
#dataset2.plot()

In [ ]:
df_final.iplot(kind='bar', x=['positive', 'negative'],y='favourites_count')

In [ ]:
dataset.iplot(kind='scatter', x='total_bill', y='tip', mode='markers')